nav{
    position: relative;
    display: flex;
    justify-content: space-around;
    width:400px;
    
    
}

.Nav{
    
    font-size: 10px;
    color:black;


}


/* button{
    width:110px;
    background-color: grey;
    color: white;
    font-size: 22px;
    border: none
} */